{{ $hash := md5 .Title }}
{{ $chars := strings.Split $hash "" }}
{{ $widths := dict "0" 2 "1" 4 "2" 6 "3" 2 "4" 4 "5" 6 "6" 2 "7" 4 "8" 6 "9" 2 "a" 4 "b" 6 "c" 2 "d" 4 "e" 6 "f" 2 }}
<svg class="doc-barcode" width="120" height="20" viewBox="0 0 120 20" aria-hidden="true" focusable="false">
  {{ $x := 0 }}
  {{ range $i, $c := $chars }}
    {{ if lt $i 16 }}
      {{ $w := index $widths $c }}
      <rect x="{{ $x }}" y="0" width="{{ $w }}" height="20" fill="currentColor"></rect>
      {{ $x = add $x (add $w 3) }}
    {{ end }}
  {{ end }}
</svg>
