<section class="vitals">
  <div class="vital">
    <div class="vital__header">
      <span class="label-accent">Coffee reserves</span>
      <span class="vital__pct">74%</span>
    </div>
    <div class="vital__bar"><div class="vital__fill" style="width: 74%"></div></div>
  </div>
  <div class="vital">
    <div class="vital__header">
      <span class="label-accent">Motivation index</span>
      <span class="vital__pct">41%</span>
    </div>
    <div class="vital__bar"><div class="vital__fill" style="width: 41%"></div></div>
  </div>
  <div class="vital">
    <div class="vital__header">
      <span class="label-accent">Yak shaving</span>
      <span class="vital__pct">92%</span>
    </div>
    <div class="vital__bar"><div class="vital__fill" style="width: 92%"></div></div>
  </div>
</section>
